body {
    font-size:18pt;
    background-color:#f0f1f0;
    font-family: 'Noto Sans', sans-serif;
}

h1 {
    font-family: 'Special Elite', cursive;
    font-size:3em;
    color: white;
    text-shadow:1px 1px black;
}

.banner {
    position:relative;
    background: url(../images/cropped_shell.jpg) no-repeat center top;
    height:300px;
}

nav {
    margin: 1em 0
}

.btn-link {
    background-color:#c9a48b;
    text-decoration: none;
    border: none;
    color:black;
}

.btn-link:hover {
    background-color: #c9a48b;
    color: #515360;
}

.btn-link:active {
    background-color: #515360;
    color:#f0f1f0;
}

.home div,
.banner h1 {
    position:absolute;
    text-align:center;
    left:0;
    right:0;
    display:inline-block;


}

.home div {
    top:40%;
}

.home {
    background: url(../images/anemones.jpg) center left;
    
}

.banner h1 {
    top:35%;
}

