body{
    background-color: #fafafa;
    font-family:'Open Sans', sans-serif;
    font-size:16px;
}

h1,
h2,
h3{
    font-family:'Cabin Condensed', sans-serif;
    font-weight:700;

}

h1{
    font-size:3em;
}

h2{
    font-size:1.5em;
}

h3{
    font-size:1.25em;
    text-transform: uppercase;
}

h4{
    font-size:1.25em;
    color:#b2322d;
    text-align:center;
}

.header h1,
.header p,
.header a{
    color:#fafafa
}

.header p{
    font-size:.65em;
    letter-spacing:1.5px;
    text-transform:uppercase;
}

.row{
    padding:9em 0;
}

.header{
    background-color:#0F171A;
}

.intro{
    padding:5em 0; 
}

ul{
    margin:0 0 0 2em;
}

ul a{
    color:#0F171A;
    text-decoration-color:#b2322d;
}

ul a:hover{
    color:#b2322d;
}

.scroll{
    text-align:center;
}

iframe{
    margin: 0 0 2em 0;
}






