body{
    background-color: #fafafa;
    font-family:'Open Sans', sans-serif;
    font-size:16px;
}

h1,
h2,
h3,
h4{
    font-family:'Cabin Condensed', sans-serif;
    font-weight:700;
}

h3,
h4{
    font-size:1.25em;
}

h1{
    font-size:3em;
    float:left;
}

h2{
    font-size:1.5em;
}

h3{
    text-transform: uppercase;
}

h4{
    color:#b2322d;
    text-align:center;
}

.table{
    text-align:center;
    font-family:'Open Sans', sans-serif;
}

.header h1,
.header p,
.header a{
    color:#fafafa;
    text-decoration-color:#fafafa;
}

.header p{
    font-size:.65em;
    letter-spacing:1.5px;
    text-transform:uppercase;
}

.banner {
    padding:9em 0;
}

.header{
    background-color:#0F171A;
}

.intro{
    padding:5em 0; 
}

ul{
    margin:0 0 0 2em;
}

a{
    color:#0F171A;
    text-decoration-color:#b2322d;
}

a:hover{
    color:#b2322d;
}

.scroll{
    text-align:center;
    font-family: 'Cabin Condensed', sans-serif;
}

iframe{
    margin: 0 0 2em 0;
}

.title{
    padding:3em 0 1.5em 0;
}

.map{
    margin:0 0 3em 0;
}

.timeline{
    border-left: 3px solid #b2322d;
    font-family:'Cabin Condensed', sans-serif;
}

.timeline p,
.timeline b{
    font-size:.95em;
}

.timeline b{
    background-color:#b2322d;
    color:#fafafa;
    padding: .01em 1.1em .01em .6em;
    letter-spacing: 1px;
}

.timeline a{
    color:#0F171A;
    text-decoration-color:#0F171A;
}

.popularity,
.streams{
    margin:3em 0;
}

.popularity h4{
    margin: 3em 0 2em 0;
}

.streams h4{
    margin-bottom:2em;
}

footer{
    font-size:.65em;
}

@media (max-width:768px){
    h1,
    .header p{
        text-align:center;
        float:none;
    }
    .banner img{
        padding:3em 1em;
    }
    .banner p{
        margin:0em;
    }
    h1{
        margin-bottom:1.5em;
    }
    .intro{
        padding-top:4em;
    }
    main{
        padding:0 1em;
    }
    
}

@media (max-width:450px){
    .scroll{
        padding-top:.75em;
    }
    h1{
        font-size:2.5em;
    }

}





