body {
    background-color: #819C8D;
    font-family:'Comme', sans-serif;
    font-size:16px;
}

h1 {
    font-family:'Playfair Display', serif;
    color: #112934;
}

h2 {
    font-family:'Roboto Condensed', sans-serif;
    color: #112934;
}