body {
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    font-weight: 350;
    margin: 1em 2em;
}
.logo {
    max-width: 60%;
}
header {
    font-style: italic;
}
.special {
    font-style: italic;
    background-color: #B394A5;
    padding: .2em 1em;
    margin-top: 1em;
    border:1px solid black
}
h1,
h2 {
    font-family: Georgia, serif;
    font-weight: 200;
    margin:0%;
}
h1 {
    color: #EE3E1B;
    font-style:normal;
}
h2 {
    color: #69413A;
}
h3 {
    color: #A70305;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    margin:0%;
}
img {
    max-width: 65%;
    margin:1em 0em;
}
footer {
    color: #69413A;
}