body {
    font-size:14px;
    background-color: #242124;
}

header {

}

h1 {
    font-family: 'Tilt Prism', cursive;
    font-size:10em;
    color:#FF5400;
    margin-top:50px;
    line-height:.75em;
}

h2 {
    font-family: 'Tilt Neon', cursive;
    font-size:6em;
    color: #ED00BD;
    margin: 20px 0px;
    line-height:0.75em;
}

h3 {
    font-family: 'Tilt Neon', cursive;
    font-size:3em;
    color: #0070BB;
}

.col-md-4{
    font-family: 'Tilt Prism', cursive;
    font-size:3em;
    color: #FF5400
}

.col-md-6 {
    font-family: 'Roboto', sans-serif;
    font-size:1.5em;
    color: #FFA87C;
}

.col-md-3{
    padding-top:1.5em
}